.tit1 {
    color: #fff !important;
    text-transform: uppercase !important;
    /* letter-spacing: 0px; */
    word-spacing: 10px !important;
    font-family: Poppins !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    line-height: 1.1 !important;
}

.size3{
    max-width: unset !important;
    font-size: 22px !important;
}